@page
@model CalculatorModel
@{
    ViewData["Title"] = "Calculator Page";
}

<div class="text-center">
    <h1 class="display-4">Calculator</h1>
    <form id="result" onclick ="result.value=inputName.value">
    <a>Enter a number: </a><input type="text" name="inputName" ></input>
    <button type="button">Enter</button><br>
    </form>
    <a>Output:</a> <output form="result" name ="result"></output>
    
</div>