@page
@model CalculatorModel
@{
    ViewData["Title"] = "Calculator Page";
}

<div class="text-center">
    <h1 class="display-4">Calculator</h1>
    <form id="result" onclick ="result.value=inputName.value+inputVal.value">
    <a>Enter a number: </a><input type="number" name="inputName" ></input><br><br>
    <a>Enter second number:</a><input type="number" name="inputVal"></input>
    <input type="button" name="button9" value="9">
    <button type="button">Enter</button><br>
    </form>
    <a>Output:</a> <output form="result" name ="result"></output>
    
</div>